<section class="antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24" data-aos="fade-left"
    data-aos-duration="2000">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-5xl font-semibold leading-tight tracking-tight sm:text-5xl dark:text-white" style="color: #CD8CF5;">
        Sobre Mi
      </h2>
    </div>
    <div class="grid grid-cols-3 mt-8 text-center sm:mt-12 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3 box-border">
      <div class="lg:col-span-3 grid grid-cols-2 gap-y-12 lg:gap-y-0 lg:grid-cols-3">
        <div class="hidden lg:block lg:col-span-1 box-border" data-aos="fade-left" data-aos-duration="2000">
          <img src="../../../assets/img/Foto.png" alt="mockup">
        </div>
        <div class="lg:col-span-2 box-border">
          <h3 class="font-bold text-3xl text-white text-justify ml-5">Ingeniero de Sistemas &amp; Web Developer.</h3>
          <p class="text-xl font-normal text-gray-400 text-justify ml-5 mt-2">
            Egresado de Ingeniería de Sistemas con mérito obtenido de tercio superior y una sólida base en el desarrollo web.
            Estoy en constante actualización, me apasiona colaborar con profesionales talentosos para impulsar proyectos innovadores y 
            usar las diferentes herramientas tecnológicas. De ahí que escogiera la carrera de Ingeniería de Sistemas.
          </p>
          <div class="flex flex-row gap-8 sm:gap-6 mt-5">
            <div class="w-2/4 box-border">
              <ul class="text-gray-400 flex flex-col flex-col items-start">
                <li class="mb-4 ml-10"><i></i> <strong>Website:</strong> <span>www.example.com</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Teléfono:</strong> <span>+51 965 919 959</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Ciudad:</strong> <span>Piura, Perú</span></li>
              </ul>
            </div>
            <div class="w-2/4 box-border">
              <ul class="text-gray-400 flex flex-col flex-col items-start">
                <li class="mb-4 ml-10"><i></i> <strong>Edad:</strong> <span>23</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Grado:</strong> <span>Titulado</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Correo:</strong> <span>edwingarciatavara@gmail.com</span></li>
              </ul>
            </div>
          </div>
          <p class="text-xl font-normal text-gray-400 text-justify ml-5 mt-2">
            Entre mis habilidades blandas se encuentran: 
          </p>
          <div class="flex flex-row gap-8 sm:gap-6 mt-5">
            <div class="w-2/4 box-border">
              <ul class="text-gray-400 flex flex-col flex-col items-start">
                <li class="mb-4 ml-10"><i></i> <strong>Trabajo en equipo</strong> <span>🤝</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Resolución de problemas</strong> <span>🛠️</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Adaptabilidad</strong> <span>🌪️</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Comunicación efectiva</strong>🗣<span></span></li>
              </ul>
            </div>
            <div class="w-2/4 box-border">
              <ul class="text-gray-400 flex flex-col flex-col items-start">
                <li class="mb-4 ml-10"><i></i> <strong>Gestión del tiempo</strong> <span>⌛</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Capacidad para aprender</strong> <span>🧠</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Pensamiento crítico</strong> <span>🤔</span></li>
                <li class="mb-4 ml-10"><i></i> <strong>Nivel de Inglés A2</strong> <span>📚</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>